<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
  
<link rel="stylesheet" href="./static/style.css">
<div class="card-container">
	<span class="pro">PRO</span>
	<img class="round" src="https://media.discordapp.net/attachments/1015160752555966515/1024396941838254131/me.jpg" alt="user" />
	<h3>Serkan Ali</h3>
	<h6>Bakü</h6>
	<p>UI tasarımcısı ve <br/> front-end developer</p>
	<div class="buttons">
		<button class="primary">
			Mesaj
		</button>
		<button class="primary ghost">
			Takip ediliyor
		</button>
	</div>
	<div class="skills">
		<h6>İlgi alanları</h6>
		<ul>
			<li>RP</li>
			<li>Front End Development</li>
			<li>HTML</li>
      <li>Pyhton</li>
      <li>Golang</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>UI</li>
			<li>Node</li>
      <li>Mongoose</li>    
      <li>Reddis</li>
      <li>Sql</li>
      <li>Git</li>
      <li>Github</li>
		</ul>
	</div>
</div>

<footer>
	<p>
		 <i class="fa fa-heart"></i> Serkan Ali & Layona-x tarafından yapıldı
	</p>
</footer>
</html>